$font-stack: Helvetica, sans-serif;
$primary-color: #333;

body {
    font: 100% $font-stack;
    color: $primary-color;
    margin: 0;
}

$colours: ("blue": #25f, "red": #f25, "white": #dfdfdf, "black": #0f0f0f, "textblack": #333, "yellow": #fd5, "green": rgb(34, 255, 144));

@mixin btn {
    color: white;
    border: none;
    font-weight: 400;
    padding: 5px 10px;
}


$smsizes: ("md": 5px, "sm": 2px, "xl": 10px, "2xl": 15px);
$sizes: ("md": 10px, "sm": 5px, "xl": 15px, "2xl": 20px);

@each $name, $hex in $colours{
    .btn-#{$name} {
        @include btn;
        background-color: $hex;
        transition: filter 50ms ease-in-out;
        &:hover {
            filter: sepia(30%);
        }
        &:active {
            filter: sepia(90%);
        }
    }

    .bg-#{$name} {
        background-color: $hex;
    }
}

.nav {
    position: sticky;
    height: 50px;
}

@each $name, $size in $sizes { 
    .rounded-#{$name} {
        border-radius: $size;
    }
}

.rounded-max {
    border-radius: 50vw;
}

.dec-none {
    text-decoration: none;
}

.float-right {
    float: right;
}
.float-left {
    float: left;
}

@each $name, $size in $smsizes { 
    .border-#{$name}{
        border: $size solid black;
    }
}

@each $name, $hex in $colours{
    .color-#{$name} {
        color: $hex;
    }
    .border-#{$name} {
        border-color: $hex;
    }
}

.center {
    text-align: center;
}

.flex {
    display: flex;
}

.block {
    display: block;
}

.inline {
    display: inline;
}

.inlineblock {
    display: inline-block;
}

.flex-center {
    justify-content: center;
    align-items: center;
}

.block {
    display: block;
}

.inline {
    display: inline;
}

.inline-block {
    display: inline-block;
}

.absolute-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@for $i from 0 through 10 {
    $fontsize: 8px * $i;
    .font-#{$i} {
        font-size: $fontsize;
    }
}

@for $i from 0 through 30 {
    $wh: 25px * $i;
    $mp: 10px * $i;
    .h-#{$i} {
        height: $wh;
    }
    .w-#{$i} {
        width: $wh;
    }
    .m-#{$i} {
        margin: $mp;
    }
    .p-#{$i} {
        padding: $mp;
    }
    .ml-#{$i} {
        margin-left: $mp;
    }
    .pl-#{$i} {
        padding-left: $mp;
    }
    .mr-#{$i} {
        margin-right: $mp;
    }
    .pr-#{$i} {
        padding-right: $mp;
    }
    .mb-#{$i} {
        margin-bottom: $mp;
    }
    .pb-#{$i} {
        padding-bottom: $mp;
    }
    .mt-#{$i} {
        margin-top: $mp;
    }
    .pt-#{$i} {
        padding-top: $mp;
    }
}

.h-full {
    height: 100%;
}

.w-full {
    width: 100%;
}

.h-screen {
    height: 100vh;
}

.w-screen {
    width: 100vw;
}

.m-full {
    margin: 100%;
}

.p-full {
    padding: 100%;
}

.m-screen {
    margin: 100vh;
}

.p-screen {
    padding: 100vw;
}

.ml-auto {
    margin-left: auto;
}
.pl-auto {
    padding-left: auto;
}
.mr-auto {
    margin-right: auto;
}
.pr-auto {
    padding-right: auto;
}
.mb-auto {
    margin-bottom: auto;
}
.pb-auto {
    padding-bottom: auto;
}
.mt-auto {
    margin-top: auto;
}
.pt-auto {
    padding-top: auto;
}

.bold {
    font-weight: 700;
}

.italic {
    font-style: italic;
}

.linethrough {
    text-decoration: line-through;
}

.underline {
    text-decoration: underline;
}

.normal {
    font-weight: normal;
}

.bbox {
    box-sizing: border-box;
}

.absolute {
    position: absolute;
}

.relative {
    position: relative;
}

.fixed {
    position: fixed;
}

.static {
    position: static;
}